.meeting-page {
  padding: 100px 0;
  color: black;

  &__container {
    width: 60%;
    margin: 0 auto;
    text-align: center;

    @media screen and (max-width: 750px) {
      width: 98%;
    }
  }
  &__drop-list {
    margin-bottom: 40px;
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__example-form {
    margin: 0 auto 20px;
    width: fit-content;
  }

  &__friend-item {
    margin-bottom: 20px;
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.mat-expansion-panel-body {
  @media screen and (max-width: 750px) {
    padding: 0 0 16px !important;
  }
}

.friend-item {
  height: 100px !important;
  padding: 0 150px 0 0 !important;

  @media screen and (max-width: 950px) {
    width: 98%;
    padding: 0 70px 0 0 !important;
    height: 200px;
  }

  @media screen and (max-width: 750px) {
    width: 98%;
    padding: 0 0px 0 0 !important;
    height: 200px;
  }

  &__wrapper {

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 750px) {}
  }

  &__close {
    position: absolute;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: 950px) {
      right: -70px;
    }

    @media screen and (max-width: 750px) {
      right: 50%;
      transform: translate(50%, 0);
      top: 69px;
    }
  }


  &__left {
    display: flex;
    align-items: center;
  }

  &__avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100px;
    border: 1px solid gray;
    margin-right: 20px;

    @media screen and (max-width: 750px) {
      margin-right: 10px;
      margin-bottom: 10px;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: contian;
    }
  }

  &__participation {
    @media screen and (max-width: 950px) {
      font-size: 13px;
    }

    @media screen and (max-width: 750px) {
      font-size: 10px;
    }
  }
}




section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
