<div class="meeting-page">
  <div class="meeting-page__container">
    <h2 class="meeting-page__title">Карточка встречи</h2>
    <div class="meatig-page__example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Название компании</mat-label>
        <input matInput placeholder="Название компании" value="">
      </mat-form-field>
    </div>

    <div class="meeting-page__form-meeting-page">

      <mat-accordion class="meeting-page__accordion-meeting">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Список участников:
            </mat-panel-title>
            <mat-panel-description>
              0 чел.
            </mat-panel-description>
            <p>
              Options selected: {{shoes.selectedOptions.selected.length}}
            </p>
          </mat-expansion-panel-header >
          <mat-selection-list #shoes class="meeting-page__drop-list">
            <mat-list-option *ngFor="let friend of friends" class="meeting-page__friend-item friend-item">
              <div class="friend-item__wrapper">
                <div class="friend-item__left">
                  <div class="friend-item__avatar">
                    <img src="/assets/img/avatars/coin-cli.png" alt="">
                  </div>
                  <div class="friend-item__name">{{ friend.name }}</div>
                </div>

                <div class="friend-item__participation" style="color: red">
                  Убрать из расчета
                </div>
                <div class="friend-item__close">
                  <button mat-fab color="primary" class="button" aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>

            </mat-list-option>
          </mat-selection-list>

          <div class="meeting-page__buttons">
            <button mat-raised-button color="primary">Добавить участника</button>
            <button mat-raised-button color="accent" (click)="openCalculatedModal()">Расчет</button>


          </div>
          <div class="meeting-page__buttons">
            <button mat-raised-button color="accent">Удалить компанию</button>
            <button mat-raised-button color="primary">Ok</button>
          </div>

        </mat-expansion-panel>

      </mat-accordion>
    </div>

  </div>
</div>
