@import '../variables.scss';

.mat-tab-list {
  display: flex;
  justify-content: center;
}

.mat-tab-labels {
  @media screen and (max-width: 650px) {
    width: 100%;
  }
}

.mat-tab-label {
  @media screen and (max-width: 650px) {
    width: 100%;
  }
}

.mat-tab-header {
  width: fit-content;
  margin: 0 auto;

  @media screen and (max-width: 650px) {
    width: 100%;
  }
}

.mat-tab-header {
  margin-bottom: 20px;
}

.mat-tab-body-wrapper {
  min-height: 200px;
  border-radius: 10px;
}

.mat-expansion-panel-body {
  @media screen and (max-width: 650px) {
    padding: 0 24px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.mat-form-field {
  @media screen and (max-width: 650px) {
    margin-left: 0 !important;
  }
}

.mat-selection-list {
  @media screen and (max-width: 650px) {
    width: 100%;
  }

}


.mat-content {
  justify-content: space-between!important;
}

.cdk-overlay-pane {
  max-width: unset!important;
}