.start-info-modal {
  &__close-button {
    float: right;
    top:-24px;
    right:-24px;
  }
  &__close-icon {
    transition: 1s ease-in-out;
    &:hover {
      transform: rotate(180deg);
    }
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  &__title {
    max-width: 300px;
    text-align: center;
  }
  &__avatar-item {
    img {
      width: 24px;
      height: 24px;
    }
  }
}
