<div class="start-info-modal">
  <form class="start-info-modal__modal-form modal-form" [formGroup]="form">
    <p class="modal-form__title">Здравствуйте,
      я помогу Вам с подсчетом сбора средств с
      участников вашей компании! Как вас зовут?</p>
    <mat-form-field>
      <mat-label>Введите ваше имя</mat-label>
      <input formControlName="name" type="text" matInput>
    </mat-form-field>
    <span>Укажите номер телефона и аватарку</span>
    <mat-form-field>
      <mat-label>Введите номер телефона</mat-label>
      <input formControlName="phone" matInput>
    </mat-form-field>
    <div class="modal-form__avatar-item">
      <img [src]="userIcon">
      <button mat-button (click)="changeUserIcon()">поменять иконку</button>
    </div>
    <button mat-raised-button color="primary" (click)="saveAndSubmit()">сохранить</button>
  </form>
</div>
