<div class="create-friend-modal">
  <button mat-icon-button class="create-friend-modal__close-button" [matDialogClose]="true">
    <mat-icon class="create-friend-modal__close-icon" color="warn">close</mat-icon>
  </button>
  <form class="create-friend-modal__form form">
    <mat-form-field>
      <mat-label>Имя друга</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Номер друга</mat-label>
      <input matInput>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="saveAndSubmit()">сохранить</button>
  </form>
</div>
