.create-friend-modal {
  &__close-button {
    float: right;
    top:-24px;
    right:-24px;
  }
  &__close-icon {
    transition: 1s ease-in-out;
    &:hover {
      transform: rotate(180deg);
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
}
