.friends {
  width: 100%;
  height: 100%;

  &__wrap {
    overflow-y: scroll;
    height: 300px;
  }

  &__list {
    width: 100%;
  }
  &__friend {
      margin-bottom: 10px;
  }
}

.friend {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  padding: 0 40px;
}
