<div class="friends">
  <div class="friends__wrap">
    <ul class="friends__list">
      <li class="friends__friend friend">
        <div class="friend__name">
          Альфред Конобаев
        </div>
        <a href="tel: +79273454323" class="friend__name">
          тел: +79273454323
        </a>
      </li>
      <li class="friends__friend friend">
        <div class="friend__name">
          Альфред Конобаев
        </div>
        <a href="tel: +79273454323" class="friend__name">
          тел: +79273454323
        </a>
      </li>
      <li class="friends__friend friend">
        <div class="friend__name">
          Альфред Конобаев
        </div>
        <a href="tel: +79273454323" class="friend__name">
          тел: +79273454323
        </a>
      </li>
      <li class="friends__friend friend">
        <div class="friend__name">
          Альфред Конобаев
        </div>
        <a href="tel: +79273454323" class="friend__name">
          тел: +79273454323
        </a>
      </li>
      <li class="friends__friend friend">
        <div class="friend__name">
          Альфред Конобаев
        </div>
        <a href="tel: +79273454323" class="friend__name">
          тел: +79273454323
        </a>
      </li>
      <li class="friends__friend friend">
        <div class="friend__name">
          Альфред Конобаев
        </div>
        <a href="tel: +79273454323" class="friend__name">
          тел: +79273454323
        </a>
      </li>
      <li class="friends__friend friend">
        <div class="friend__name">
          тел: Альфред Конобаев
        </div>
        <a href="tel: +79273454323" class="friend__name">
          тел: +79273454323
        </a>
      </li>
      <li class="friends__friend friend">
        <div class="friend__name">
          Альфред Конобаев
        </div>
        <a href="tel: +79273454323" class="friend__name">
          тел: +79273454323
        </a>
      </li>




    </ul>
  </div>
</div>
