<div class="friend-info">
  <div class="friend-info__container">
    <div class="friend-info__block">
      <h2 class="friend-info__title">
        Карточка друга
      </h2>
      <mat-form-field class="friend-info__input example-full-width" appearance="fill">
        <mat-label>Name Friende</mat-label>
        <input matInput placeholder="Ex. Pizza" value="">
      </mat-form-field>

      <div class="friend-info__avatar-f avatar-f">
        <div class="avatar-f__img">
          <img src="/assets/icons/users-avatars/Artboard1.svg" alt="">
        </div>
        <div class="avatar-f__button">
          <button mat-raised-button color="primary">Сменить</button>
        </div>
      </div>

      <mat-form-field class="friend-info__input example-full-width" appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Phone num." value="">
      </mat-form-field>
      <mat-form-field class="friend-info__input" appearance="fill">
        <mat-label>Комментарий</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <div class="friend-info__bottom">
        <button mat-raised-button color="accent">Удалить</button>
        <button mat-raised-button color="primary">Ok</button>
      </div>
    </div>
  </div>
</div>
