.friend-info {
    &__container {
        padding: 100px 0;
        width: 700px;
        margin: 0 auto;
        text-align: center;
        @media screen and (max-width: 750px) {
            flex-wrap: wrap;
            width: 100%;
            padding: 100px 5px;
        }
    }
    &__title {
        margin-bottom: 20px;
    }
    &__input {
        margin: 0 auto 20px!important;
        display: block;
        width: 100%;
    }
    &__avatar-f {
        margin: 0 0 40px;
    }
    &__bottom {
        width: 30%;
        & :last-child {
            margin-left: 45px;
        }
        @media screen and (max-width: 750px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
    
}

.avatar-f {
    width: fit-content;
    display: flex;
    align-items: flex-end;
    &__img {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}