<section id="first-section" class="main">


  <div class="main__content">
    <div class="main__navigation-main navigation-main">
      <button class="navigation-main__button" mat-raised-button color="primary" (click)="openCreateMeetingModal()">Создать компанию</button>
      <button mat-raised-button color="primary" (click)="openCreateFriendModal()">Пригласить друга</button>
    </div>
    <div class="main__block">
      <mat-tab-group class="main__tabs">
        <mat-tab class="main__tab-item" label="Встречи"><span style="color: black">
            <app-meeting-cards></app-meeting-cards>
          </span></mat-tab>
        <mat-tab class="main__tab-item" label="Друзья"><span style="color: black">
            <app-my-friends></app-my-friends>
          </span></mat-tab>
      </mat-tab-group>
    </div>
  </div>

</section>
