
//@import 'variables';
.main {
    width: 100%;
    height: 100%;
    position: relative;

    &__content {
        width: 100%;
        height: 100%;
        padding: 100px 0;
    }
    &__navigation-main {
        margin: 0 auto 40px;
    }
    &__block {
        width: 90%;
        padding: 20px;
        border-radius: 10px;
        background: #f0eded;
        margin: 0 auto;
    }
}


.navigation-main {
    display: flex;
    width: 50%;
    justify-content: space-around;
    @media screen and (max-width: 650px) {
        flex-wrap: wrap;
    }
    &__button {
        @media screen and (max-width: 650px) {
            margin-bottom: 10px;
        }
    }
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
}

.images {
  width: 100%;
  height: 110%;
  position: relative;
  z-index: -1;
  top: -10%;
}

.image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blur {
  width: 120%;
  margin-left: -10%;
  height: 250px;
  background-color: #030000;
  position: absolute;
  bottom: -180px;
  filter: blur(40px);
  z-index: 999;
}

.footer-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
}

ul {
  list-style: none;
  margin-bottom: 20px;
  margin-right: 30px;
}

li {
  display: inline;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  margin-left: 20px;
}

.content {
  height: 100%;
  width: 100%;
  background-color: #030000;
  z-index: 0;
  top: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-images {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.content-image-wrapper {
  height: 220px;
  width: 150px;
  text-align: center;
  position: relative;
}

.content-image-wrapper img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

.one {
  top: -10px;
}

.two {
  top: -50px;
}

.three {
  top: 20px;
}

.four {
  top: -20px;
}

.content-image-wrapper h4 {
  font-size: 1.8em;
  position: relative;
  top: -30px;
  opacity: 0.6;
}

.text {
  padding-top: 100px;
  width: 60%;
  font-size: 0.8em;
  text-align: center;
}
