<div class="create-meeting-modal">
  <button mat-icon-button class="create-meeting-modal__close-button" [matDialogClose]="true">
    <mat-icon class="create-meeting-modal__close-icon" color="warn">close</mat-icon>
  </button>
  <div class="create-meeting-modal__form-modal modal-form" [formGroup]="form">
    <div class="modal-form__title-item">
      <span>Встреча:</span>
      <mat-form-field>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>
    <div class="modal-form__members">
      <span>Участники:</span>
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="member"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto>
          <mat-option (onSelectionChange)="pushNewMember($event)" [value]="member" *ngFor="let member of filteredMembers | async">
            {{member.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <mat-list>
      <mat-list-item *ngFor="let member of currentMeetingMembers">
        {{member.name}}
      </mat-list-item>
    </mat-list>
    <button mat-raised-button color="primary" (click)="saveAndSubmit()">сохранить</button>
  </div>
</div>
