

.create-meeting-modal {
  &__close-button {
    float: right;
    top:-24px;
    right:-24px;
  }
  &__close-icon {
    transition: 1s ease-in-out;
    &:hover {
      transform: rotate(180deg);
    }
  }
  &__modal-form {
    display: flex;
    flex-direction: column;
  }
}

.modal-form {
  &__title-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
      margin-right: 20px;
    }
    mat-form-field {
      width: 120px;
    }
  }

  &__type-of-calculation-item {
    display: flex;
    flex-direction: column;
  }
}

