<mat-accordion class="example-headers-align" multi>
  <!-- #enddocregion multi -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="header-logo">
        <img src="https://logo-maker-api.s3.us-west-2.amazonaws.com/projects/613da57938becd778526b02a/thumbnail.png?AWSAccessKeyId=AKIA6LFXYJ6BXG4EKM6A&amp;Expires=1631516438&amp;Signature=1vFqyTrHYBh3n%2BTMx0YBc1CbUsE%3D" alt="FtP" class="styled__ProjectInfoImg-sc-1h7w2mc-3 jueqVZ">
      </mat-panel-title>
      <mat-panel-description class="header-user">
        <div class="header-user__name">Виталий Бобров</div>

        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill">
      <mat-label>Имя</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Номер телефона</mat-label>
      <input matInput>
    </mat-form-field>

  </mat-expansion-panel>
  <!-- #docregion disabled -->

</mat-accordion>
