:host {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.header-user {
  flex-grow: unset;
  white-space: nowrap;
  &__name {
    font-weight: 500;
    padding: 0 30px;
  }
} 

.mat-expansion-panel-header {
  height: 70px;
}


.header-logo {
  height: 70px;
  max-width: 200px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
