.slider-meeting {
  width: 100%;
  position: relative;

  &__wrap {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
  }

  &__status {
    margin: 0 auto;
    width: fit-content;
  }
}

.slide-event {
  width: 500px;
  height: 500px;
  background: #FFFFFF;
  margin-right: 20px;
  border-radius: 10px!important;
  padding: 30px;
  @media screen and (max-width: 650px) {
    width: 85%;
  }
  &__picture {
    overflow: hidden;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__list {
    list-style-type: none;
    max-height: 100px;
    overflow-y: scroll;
  }
}
