<div class="meeting-cards">
  <div class="meeting-cards__slider-meeting slider-meeting">
    <div class="slider-meeting__wrap">
      <div class="slider-meeting__slide-event slide-event">
        <h2 class="slide-event__title">
          Встреча однокласников 26.09.2021
        </h2>
        <div class="slide-event__picture">
          <img src="/assets/img/meet.jpg" alt="">
        </div>
        <p>Список участников:</p>
        <ul class="slide-event__list">
          <li>Сергей Иванов</li>
          <li>Иван Сергеев</li>
          <li>Иван Сергеев</li>
          <li>Александр Сергеев</li>
          <li>Никита Михалков</li>
          <li>Сергей Иванов</li>
          <li>Иван Сергеев</li>
          <li>Иван Сергеев</li>
          <li>Александр Сергеев</li>
          <li>Никита Михалков</li>
        </ul>
      </div>
      <div class="slider-meeting__slide-event slide-event">
        <h2 class="slide-event__title">
          Поездка на Камское устье 1.02.2021
        </h2>
        <div class="slide-event__picture">
          <img src="/assets/img/meet2.jpeg" alt="">
        </div>
        <p>Список участников:</p>
        <ul class="slide-event__list">
          <li>Сергей Иванов</li>
          <li>Иван Сергеев</li>
          <li>Иван Сергеев</li>
          <li>Александр Сергеев</li>
          <li>Никита Михалков</li>
          <li>Сергей Иванов</li>
          <li>Иван Сергеев</li>
          <li>Иван Сергеев</li>
          <li>Александр Сергеев</li>
          <li>Никита Михалков</li>
        </ul>
      </div>
      <div class="slider-meeting__slide-event slide-event">
        <h2 class="slide-event__title">
          Встреча друзей 15.06.2020
        </h2>
        <div class="slide-event__picture">
          <img src="/assets/img/meet3.jpg" alt="">
        </div>
        <p>Список участников:</p>
        <ul class="slide-event__list">
          <li>Сергей Иванов</li>
          <li>Иван Сергеев</li>
          <li>Иван Сергеев</li>
          <li>Александр Сергеев</li>
          <li>Никита Михалков</li>
          <li>Сергей Иванов</li>
          <li>Иван Сергеев</li>
          <li>Иван Сергеев</li>
          <li>Александр Сергеев</li>
          <li>Никита Михалков</li>
        </ul>
      </div>
      <div class="slider-meeting__slide-event slide-event">
        <h2 class="slide-event__title">
          Поездка на Камское устье 26.09.2021
        </h2>
        <div class="slide-event__picture">
          <img src="/assets/img/meet.jpg" alt="">
        </div>
        <p>Список участников:</p>
        <ul class="slide-event__list">
          <li>Сергей Иванов</li>
          <li>Иван Сергеев</li>
          <li>Иван Сергеев</li>
          <li>Александр Сергеев</li>
          <li>Никита Михалков</li>
          <li>Сергей Иванов</li>
          <li>Иван Сергеев</li>
          <li>Иван Сергеев</li>
          <li>Александр Сергеев</li>
          <li>Никита Михалков</li>
        </ul>
      </div>
      <div class="slider-meeting__slide-event slide-event">
        <h2 class="slide-event__title">
          Поездка на Камское устье 26.09.2021
        </h2>
        <div class="slide-event__picture">
          <img src="/assets/img/meet3.jpg" alt="">
        </div>
        <p>Список участников:</p>
        <ul class="slide-event__list">
          <li>Сергей Иванов</li>
          <li>Иван Сергеев</li>
          <li>Иван Сергеев</li>
          <li>Александр Сергеев</li>
          <li>Никита Михалков</li>
          <li>Сергей Иванов</li>
          <li>Иван Сергеев</li>
          <li>Иван Сергеев</li>
          <li>Александр Сергеев</li>
          <li>Никита Михалков</li>
        </ul>
      </div>
    </div>

    <div class="slider-meeting__status"></div>

  </div>

</div>
