.calculated-modal {
    width: 600px;
    text-align: center;
    overflow-x: visible;
    position: relative;
    @media screen and (max-width: 650px) {
        width: 300px;
    }
    &__close-button {
        position: absolute;
        right: -21px;
        top: -21px;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        text-align: left;
    }
    &__number {
        max-width: 100px;
        font-weight: 700;

    }
    &__label {
        max-width: 200px;
        font-weight: 500;
        &-mb {
            width: 100%;
            margin-bottom: 20px;
            max-width: unset!important;
        }
        @media screen and (max-width: 750px) {
            max-width: 100px; 
        }
    }
    &__debt {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.banker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    &__left {
        display: flex;
        align-items: center;
        @media screen and (max-width: 750px) { 
            flex-direction: column;
            align-items: center;
        }
    }
    &__title {
        margin-right: 5px;
    }
    &__img {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            margin-right: 10px;
        }
    }
    &__name {
        max-width: 70px;
    }
}

.user-total {
    display: flex;
    justify-content: space-between;
    &__left {
        display: flex;
        align-items: center;
    }
    &__img {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        display: flex;
        align-items: center;
        margin-right: 10px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            margin-right: 10px;
        }
    }
    &__name {
        max-width: 70px;
        line-height: 1;
        font-weight: 700;
    }
    &__number {
        font-weight: 700;
    }
}