<div class="calculated-modal">
    <button mat-icon-button class="calculated-modal__close-button" [matDialogClose]="true">
        <mat-icon class="create-meeting-modal__close-icon" color="warn">close</mat-icon>
      </button>
    <h2 class="calculated-modal__title">
        Итоги расчета по факту
    </h2>
    <h2 class="cteam-name">Название компании</h2>
    <div class="calculated-modal__block">
        <div class="calculated-modal__row">
            <div class="calculated-modal__label">Общая сумма</div>
            <div class="calculated-modal__number">
                20 000 p.
            </div>
        </div>
        <div class="calculated-modal__row">
            <div class="calculated-modal__label">На каждого участника(кроме отмененных)</div>
            <div class="calculated-modal__number">
                1 000 p.
            </div>
        </div>
        <h2 class="banker__title">
            Банкир
        </h2>
        <div class="calculated-modal__banker banker">
            <div class="banker__left">
                <div class="banker__img">
                    <img src="/assets/icons/users-avatars/Artboard9.svg" alt="">
                </div>
                <h2 class="banker__name">
                    Абухмурат
                </h2>
            </div>
            
            <a href="tel:+79060349241"  class="bunker__number">тел: 79060349241</a>
            

        </div>
        <div class="calculated-modal__debt">
            <div class="calculated-modal__label calculated-modal__label-mb"> Собирает долги с участников:</div>
        <div class="calculated-modal__user-total user-total">
            <div class="user-total__left">
                <div class="user-total__img">
                    <img src="/assets/icons/users-avatars/Artboard10.svg" alt="">
                </div>
                <p class="user-total__name">
                    Николай
                </p>
            </div>
            <div class="user-total__number">
                1 000 p.
            </div>
        </div>
        <div class="calculated-modal__user-total user-total">
            <div class="user-total__left">
                <div class="user-total__img">
                    <img src="/assets/icons/users-avatars/Artboard10.svg" alt="">
                </div>
                <p class="user-total__name">
                    Николай
                </p>
            </div>
            <div class="user-total__number">
                1 000 p.
            </div>
        </div>
        </div>
        
        <div class="calculated-modal__debt">
            <div class="calculated-modal__label calculated-modal__label-mb"> Отдает долги участникам:</div>
        <div class="calculated-modal__user-total user-total">
            <div class="user-total__left">
                <div class="user-total__img">
                    <img src="/assets/icons/users-avatars/Artboard10.svg" alt="">
                </div>
                <p class="user-total__name">
                    Николай
                </p>
            </div>
            <div class="user-total__number">
                1 000 p.
            </div>
        </div>
        <div class="calculated-modal__user-total user-total">
            <div class="user-total__left">
                <div class="user-total__img">
                    <img src="/assets/icons/users-avatars/Artboard10.svg" alt="">
                </div>
                <p class="user-total__name">
                    Николай
                </p>
            </div>
            <div class="user-total__number">
                1 000 p.
            </div>
        </div>
        </div>
        <button mat-raised-button color="primary">Оплатить</button>
        
    </div>
</div>
