@import 'variables';

.button {
  cursor: pointer;
  background: shadow;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;

  &_name {
    font-weight: 700;
  }
}
