* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

*:active,
*:hover,
*:focus {
  outline: 0;
  outline-offset: 0;
}

html,
body {
  height: 100%;
}

body {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.content {
  flex: 1 0 auto;
  overflow: hidden;
}

.container {
  width: 100%;
}

.footer {
  flex: 0 0 auto;
}

.section {
  width: 100%;
}

.example-headers-align {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.text {
    &_size {
        &_xl {
            font-size: 50px;
        }
        &_l {
            font-size: 30px;
        }
        &_m {
            font-size: 20px;
        }
        &_s {font-size: 15px;}
    }
}
