<div class="start-confirming-modal">
    <h2 class="start-confirming-modal__title">
        Привет, Name User! Вы ли это?
    </h2>
    <div class="start-confirming-modal__buttons">
        <button mat-raised-button color="accent">Нет</button>
        <button mat-raised-button color="primary">Да</button>
    </div>
</div>
